pip install PyQt5
pip install pyperclip
pip install pywin32
pip install youtube-search-python
pip install requests
pip install yt-dlp
pip install pafy
pip install --upgrade youtube-dl
pip install lyricsgenius
pip install selenium
pip install webdriver-manager
pip install chromedriver-autoinstaller
pip install pyglet
pip install pypresence
